<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wamod" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="WAMOD"
        android:theme="@style/Theme.AppCompat" >
        <activity
            android:name="com.wamod.DrawerActivity"
            android:label="WAMOD" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f7f35f6ca95ccd57ca5ea79f49dd3850d17ade7f" />
    </application>

</manifest>
