<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wamod" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:roundIcon="@drawable/icon_round"
        android:label="WAMOD"
        android:theme="@style/Theme.AppCompat" >

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f7f35f6ca95ccd57ca5ea79f49dd3850d17ade7f" />

        <activity
            android:hardwareAccelerated="true"
            android:label="Setup Wizard"
            android:theme="@style/WAMOD.Theme.SetupWizard"
            android:name=".setup.SetupActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
